modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GAMMA_NIAT_API_BASE_URL = "https://ib-user-accounts-backend-gamma-apis.ccbp.in"
APP_ENV = "gamma"
FIELD_VALUE = "Studying 10th Class"
PROD_NIAT_API_BASE_URL = "https://ib-user-accounts-backend-prod-apis.ccbp.in"
FIELD_ID = "69eb2b0c-a273-453c-9c86-b111b0ea41c9"
