modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GAMMA_NIAT_API_BASE_URL = "https://ib-user-accounts-backend-gamma-apis.ccbp.in"
APP_ENV = "gamma"
PROD_NIAT_API_BASE_URL = "https://ib-user-accounts-backend-prod-apis.ccbp.in"
NEW_USER_FIELD_VALUE = "YES"
EXISTING_USER_FIELD_VALUE = "YES"
EXISTING_USER_TEMPLATE_ID = "0b795986-206b-4b53-a556-0049e8bc90f8"
NEW_USER_TEMPLATE_ID = "5eab925a-674c-445d-96a6-a4f79a031062"
EXISTING_USER_FIELD_ID = "1dec0ea8-5fe0-436e-976c-cde4914ee0cc"
NEW_USER_FIELD_ID = "4a57fc0f-d3ba-4b35-8dcf-3e008e28d540"
EXISTING_USER_SECTION_ID = "286f311d-bb4c-4e7e-a889-570c62090d2a"
NEW_USER_SECTION_ID = "ef4bcaff-8425-424e-a44c-0ebc8a4dbe10"

[[ports]]
localPort = 22206
externalPort = 80
